@import url(https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap);

$background-color: #182825;

html {
    font-size: 62.5%;
}

body {
    background-color: $background-color;
    font-family: 'Nanum Gothic', sans-serif;
}
