//Color
$dark-jungle-green: #182825;
$spanish-blue: #016FB9;
$pacific-blue: #22AED1;
$light-slate-gray: #6D8EA0;
$sage: #AFA98D;

//Size
$sm-size: 1.6rem;
$md-size: 2.4rem;
$lg-size: 3.2rem;
$xl-size: 4.8rem;