.header {
    color: $dark-jungle-green;
    background-color: $sage;
    margin-bottom: $xl-size;
    padding-left: 1rem;
}

.header__title {
    font-size: $lg-size;
    margin: 0;
    padding: 1rem 0;
}

.header__subtitle {
    font-size: $sm-size;
    margin: 0;
    padding-bottom: 1rem;
}